<div class="container">
  <header-i18n showLangText="false" class="langs"></header-i18n>
  <div class="wrap">
    <!-- <div class="top">
      <div class="head">
        <img class="logo" src="./assets/logo-color.svg" />
        <span class="title">刘崇志 彭雪莹</span>
      </div>
      <div class="desc">登陆页面</div>
    </div> -->
    <router-outlet></router-outlet>
    <!-- <global-footer [links]="links">
      Copyright
      <i class="anticon anticon-copyright"></i> 2019 <a href="//github.com/cipchk" target="_blank">卡色</a>出品
    </global-footer> -->
  </div>
</div>
