/* You can add global styles to this file, and also import other style files */
.sidebar-nav__open > .sidebar-nav__sub {
  display: block;
}

.sidebar-nav__sub {
  display: block;
}

.sidebar-nav__group-title {
  color: #a1be62;
  font-weight: bold;
  font-size: 30px;
}

.sidebar-nav__sub-arrow {
  display: none;
}

.sidebar-nav__item-link {
  padding-top: 0;
  padding-bottom: 0;
  color: #a1be62;
  font-weight: 100;
  font-size: 20px;
}

.alain-default__aside {
  padding-left: 30px;
}

.alain-default__fixed .alain-default__content {
  margin-top: 84px;
}

.container {
  background-color: white;
}
