:host ::ng-deep {
  .ant-upload-list-item-info > span {
    height: 100%;
  }
  .ant-upload-list-picture-card .ant-upload-list-item {
    width: 200px;
    height: 150px;
    padding: 5px;
  }
  .disable-preview .anticon-eye-o {
    display: none;
  }
  .ant-upload-list-picture-card .ant-upload-list-item-info::before {
    left: 0;
  }
  .ant-upload-list-picture-card .ant-upload-list-item-thumbnail {
    width: 100%;
    text-align: center;

    ::ng-deep img {
      display: inline-block;
      width: 100%;
      height: 100%;
      vertical-align: middle;
    }
  }
  .small ::ng-deep {
    .ant-upload-list-picture-card .ant-upload-list-item {
      width: 80px;
      height: 80px;
      padding: 2px;
    }
    .ant-upload-list-picture-card .ant-upload-list-item-thumbnail {
      line-height: 74px;
    }
    .ant-upload.ant-upload-select-picture-card {
      width: 80px;
      height: 80px;
    }
  }
  .square ::ng-deep {
    .ant-upload-list-picture-card .ant-upload-list-item {
      width: 150px;
      height: 150px;
      padding: 5px;
    }
    .ant-upload-list-picture-card .ant-upload-list-item-thumbnail {
      line-height: 144px;
    }
    .ant-upload.ant-upload-select-picture-card {
      width: 150px;
      height: 150px;
    }
  }
  .poster ::ng-deep {
    .ant-upload-list-picture-card .ant-upload-list-item {
      width: 200px;
      height: 112.5px;
      padding: 5px;
    }
  }
}
