<div [class]="'clearfix ' + type + ' ' + (allowPreview ? '' : 'disable-preview')">
  <nz-upload
    #upload
    [nzAction]="uploadUrl"
    nzListType="picture-card"
    [nzFileList]="fileList"
    [nzShowButton]="showButton"
    [nzFileType]="fileTypes"
    [nzAccept]="fileTypes"
    [nzSize]="size"
    [nzPreview]="handlePreview"
    [nzRemove]="onRemove"
    (nzChange)="onUploadChange($event)"
    [nzDisabled]="disabled"
    nzNoAnimation
  >
    <i nz-icon type="plus" *ngIf="!disabled && (type === 'default' || type === 'poster')"></i>
  </nz-upload>

  <nz-modal
    [nzVisible]="previewVisible"
    [nzContent]="modalContent"
    [nzFooter]="null"
    (nzOnCancel)="previewVisible = false"
    [nzWidth]="'80%'"
    [nzBodyStyle]="{ 'text-align': 'center' }"
  >
    <ng-template #modalContent>
      <a [href]="previewImage" target="_blank"><img [src]="previewImage" [ngStyle]="{ maxWidth: '100%', maxHeight: '100%' }" /></a>
    </ng-template>
  </nz-modal>
</div>
