<div class="container">
  <nz-upload
    class="avatar-uploader"
    nzAction="/common/upload"
    nzListType="picture-card"
    [nzShowButton]="true"
    [nzPreview]="handlePreview"
    [nzRemove]="remove"
    [(nzFileList)]="pics"
    [nzShowButton]="pics.length < 11"
    (nzChange)="onUploadChange($event)"
  >
    <div>
      <i nz-icon nzType="plus"></i>
      <div style="margin-top: 8px">Upload</div>
    </div>
  </nz-upload>
  <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible = false">
    <ng-template #modalContent>
      <img [src]="pic" [ngStyle]="{ width: '100%' }" />
    </ng-template>
  </nz-modal>
</div>
